<div class="container">
    <mat-card>
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
            <label class="error-message"></label>
            <form class="userForm" [formGroup]="userForm">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput class="" formControlName="firstName" required>
                    <mat-error *ngIf="userForm.get('firstName').touched && userForm.get('firstName').hasError('required')">
                        Enter First name</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput class="" formControlName="lastName" required>
                    <mat-error *ngIf="userForm.get('lastName').touched && userForm.get('lastName').hasError('required')">
                        Enter Last name</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput class="" formControlName="email" required>
                    <mat-error *ngIf="userForm.get('email').touched && userForm.get('email').hasError('email')">
                        Enter valid email</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="userName" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type = "password" class="" formControlName="password" required>
                </mat-form-field>

                <mat-card-actions>
                    <button mat-button type="submit" (click)="onSubmit()">Register</button>
                </mat-card-actions>
                <a mat-button class="secondary" style="left:33%" routerLink="/login">Go to Login</a>
            </form>
        </mat-card-content>
    </mat-card>
</div>